.about {
	display: flex;
	width: 100%;
	flex: 1;
	align-items: center;
	justify-content: center;
	gap: 1.875rem;

	.name {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Raleway", sans-serif;

		.txt {
			font-size: 7rem;
			line-height: 140px;
			text-align: center;

			#break::before {
				content: "\a";
				white-space: pre;
			}

			&.lg {
				font-size: 15.6rem;
				line-height: 190px;
				filter: drop-shadow(0 6px 0 #766fa0);
				background: linear-gradient(var(--clr-i), var(--clr-ii));
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
			}
		}

		.me {
			position: absolute;
			bottom: 5px;
			right: 10px;
			font-size: 20px;
			font-weight: bold;
			background: linear-gradient(var(--clr-i), var(--clr-ii));
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		padding: 1.25em;
		gap: 1.25rem;

		.info-card {
			display: flex;
			flex-direction: column;

			.title {
				font-size: 1.25rem;
				color: var(--clr-i);
			}

			.details {
				font-size: 1rem;
				font-weight: normal;
				max-width: 55ch;
			}
		}
	}
}

@media (max-width: 650px) {
	.about {
		flex-direction: column;
		margin-top: 1.25em;

		.name {
			flex-direction: row;
			margin-bottom: 10px;
			width: 100%;

			.txt {
				font-size: 6rem;
				line-height: 100px;

				#break::before {
					content: "";
				}

				&.lg {
					font-size: 6rem;
					line-height: 100px;
				}
			}

			.me {
				right: 0;
			}
		}

		.info {
			padding: 0.625em;

			.info-card {
				align-items: center;
				gap: 6px;

				.details{
					text-align: center;
				}
			}
		}
	}
}
