.project {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 100%;
	padding: 0.625em;
	gap: 20px;
	scroll-snap-align: center;

	.project-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1;
		height: 100%;
		font-family: "Raleway", sans-serif;

		.project-name {
			font-size: 20px;
		}

		.project-desc {
			font-size: 1rem;
			font-family: "Roboto", sans-serif;
			color: var(--clr-i);
		}

		.skills-section {
			margin-bottom: 1rem;

			& > .skills {
				display: flex;
				justify-content: center;
				margin: 1em auto;
			}

			.skills {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: left;
				flex-wrap: wrap;
				gap: 0.7rem;

				.skill {
					height: 22px;
					line-height: 22px;
					border-radius: 8px;

					font-weight: 400;
					font-size: 1rem;

					transition: 50ms ease-out;
					cursor: default;
					display: flex;
					align-items: center;
					justify-content: center;

					position: relative;
					top: 0;

					&:hover {
						top: -2px;
					}

					p {
						padding: 2px 5px;
						border-radius: 10px;
					}

					.language {
						background: #ffeeef;
						color: #e43d45;
						border: 1px solid #e43d45;
					}

					.library-framework {
						background: #e8f8ff;
						color: #2da3da;
						border: 1px solid #2da3da;
					}

					.other {
						background: #e2ffdf;
						color: #2e9450;
						border: 1px solid #2e9450;
					}

					.database {
						background: #f0edff;
						color: #7056e0;
						border: 1px solid #7056e0;
					}
				}
			}
		}
	}

	.project-image {
		display: flex;
		flex: 2;
		border-radius: 10px;
		overflow: hidden;

		.img {
			background-color: rgb(0, 0, 0);
			flex: 1;
			aspect-ratio: 4/3;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: left;
				transition: 1s ease;
			}

			&:hover img {
				object-position: right;
			}
		}
	}
}

@media (max-width: 600px) {
	.project {
		flex-direction: column;
		padding: 0;

		.project-details {
			width: 100%;
			align-items: center;
		}

		.project-images {
			width: 100%;

			.img {
				aspect-ratio: 2/2;
			}
		}
	}
}
