.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 1rem;
	margin-top: 10em; // REDUCE ONCE WE HAVE MORE  CONTENT HERE

	h2 {
		font-size: 2.5rem;
	}

	p {
		text-align: center;
		margin-top: 1.25em;

		span{
			font-weight: 500;
			color: var(--clr-ii);
		}
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		margin: 6.25em 0;
		justify-content: center;

		.social {
			background: #1a1a1a;

			h2 {
				font-size: 1.25rem;
			}
		}
	}

	footer {
		margin-top: 50px;
		text-align: center;
		background-color: teal;
	}
}

@media (max-width: 650px) {
	.contact {
		margin-top: 1.25em;

		span {
			max-width: 100%;
		}

		.socials {
			margin: auto 0;

			.social {
				margin: 0.5em;
				padding: 0.625em 0.75em;
				gap: 5px;

				h2 {
					font-size: 1rem;
				}
			}
		}

		footer {
			margin-top: 0;
		}
	}
}
