.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 1rem;
	margin-top: 10em; // REDUCE ONCE WE HAVE MORE  CONTENT HERE

	h2 {
		font-size: 2.5rem;
	}

	p {
		text-align: center;
		margin-top: 1.25em;

		span {
			font-weight: 500;
			color: var(--clr-ii);
		}
	}

	.contact-form {
		form {
			min-width: 420px;
			margin: 50px auto;

			.form-control {
				.form-input {
					background: rgb(31, 31, 51);
					color: white;
					font-family: Helvetica, Arial, sans-serif;

					font-weight: 400;
					font-size: 1.1rem;
					border-radius: 5px;
					line-height: 22px;

					border: 4px solid var(--clr-i);
					transition: all 0.3s;
					padding: 13px;
					margin-top: 10px;
					width: 100%;
					outline: 0;

					&:focus {
						border: 4px solid var(--clr-ii);
					}
				}

				textarea {
					height: 150px;
					line-height: 150%;
					resize: vertical;
				}

				.submit-btn {
					cursor: pointer;
					width: 100%;
					border-radius: 5px;
					border: 0;
					background-color: var(--clr-i);
					color: white;

					font-size: 1.125rem;
					padding-block: 10px;
					margin-top: 10px;
					transition: all 0.3s;
					font-weight: 700;

					&:hover {
						background-color: var(--clr-ii);
					}
				}

				.errorMessage {
					color: red;
				}
			}
		}
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.my-links {
			display: flex;
			align-items: center;
			font-size: 2rem;
			gap: 1rem;
			filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.377));

			a {
				cursor: pointer;
				list-style: none;
				color: black;

				&:hover {
					color: var(--clr-ii);
				}
			}
		}

		.footer-note {
			margin-top: 10px;
		}
	}
}

@media (max-width: 650px) {
	.contact {
		margin-top: 1.25em;

		.contact-form {
			form {
				min-width: 252px;
			}
		}
		footer {
		}
	}
}
