.home {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.75em;
	flex: 1;
	// gap: 2rem;
	width: 100%;
	padding-block: 2rem;

	.details {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-right: 2.5rem;

		translate: -90px;
		opacity: 0;
		animation: animate 0.25s ease-out forwards;

		@keyframes animate {
			to {
				opacity: 1;
				translate: 0;
			}
		}

		.intro {
			font-size: 1.1rem;
			margin-left: 0.375em;
			text-shadow: 0px 0px 20px #757474;
		}

		.name {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-family: "Raleway", sans-serif;

			.txt {
				font-size: 7rem;
				line-height: 140px;
				text-align: left;

				&.sm {
					font-size: 6.5rem;
					filter: drop-shadow(0 6px 0 #766fa0);
					background: linear-gradient(var(--clr-i), var(--clr-ii));
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;
				}
			}

			.developer {
				position: absolute;
				bottom: 20px;
				left: 230px;
				transform-origin: right;
				rotate: 90deg;
				white-space: nowrap;

				b {
					background: linear-gradient(var(--clr-i), var(--clr-ii));
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;
				}
			}
		}
		.my-links {
			display: flex;
			align-items: center;
			font-size: 2rem;
			gap: 1rem;
			filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.377));

			& > * {
				transition: 0.3 ease-in;
				cursor: pointer;
				list-style: none;
				color: black;

				&:hover {
					transform: translateY(5px);
				}
			}
		}
	}

	.profile-img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		width: 30%;
		aspect-ratio: 1;
		background-color: var(--clr-i);
		border-radius: 50%;
		overflow: hidden;
		filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.377));
		translate: -100px;
		opacity: 0;
		animation: animate 0.4s ease-out 0.2s forwards;
		border: 5px solid white;

		img {
			width: 100%;
			// height: 100%;
			object-fit: cover;
			transition: 0.3s ease;

			&:hover {
				scale: 1.02;
			}
		}
	}
}

@media (max-width: 1000px) {
	.home {
		flex-direction: column;
		margin-top: 2em;

		.details {
			translate: 0 -90px;
			padding-right: 0;

			.name {
				flex-direction: row;

				.txt {
					font-size: 6.5rem;
					line-height: 100px;
					padding-top: 0.2em;

					&:nth-child(1) {
						margin-bottom: 0.5em;
					}

					&.sm {
						font-size: 6.5rem;
					}
				}

				.developer {
					rotate: 0deg;
					font-size: 14px;
					// left: 50%;
					// translate: -50%;
				}
			}

			.my-links {
				margin-bottom: 1em;
			}
		}
		.profile-img {
			width: 386px;
			translate: 0 -80px;
		}
	}
}

@media (max-width: 700px) {
	.home {
		flex-direction: column;
		margin-top: 2em;
		
		.profile-img {
			width: 100%;
			translate: 0 -80px;
		}
	}
}
