.social {
	display: flex;
	align-items: center;
	gap: 10px;
	background: linear-gradient(45deg, var(--clr-i), var(--clr-ii));
	padding: 0.625em 0.938em;
	border-radius: 10px;
	margin: 0.625em;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.274));
	cursor: pointer;
	transition: scale 0.2s;

	&:hover {
		scale: 1.06;
	}

	img {
		height: 40px;
	}

	h2 {
		font-size: 1.125rem;
		font-weight: 500;
		color: #fff;
		font-family: "Raleway", sans-serif;
	}
}
